@font-face {
	font-family: "Century Gothic";
	src: url("../../fonts/CenturyGothic-Bold.woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Avenir";
	src: url("../../fonts/Avenir-Book.woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}