{% from "grid/macro.njk" import bcGrid %}
{% from "card/macro.njk" import bcCard %}
{% from "prose/macro.njk" import bcProse %}

{% call bcGrid() %}
	{% call bcCard({
        heading: {
            text: 'Grid Item',
            hierarchy: 3
        }
    }) %}
        {% call bcProse() %}
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        {% endcall %}
    {% endcall %}
    {% call bcCard({
        heading: {
            text: 'Grid Item',
            hierarchy: 3
        }
    }) %}
        {% call bcProse() %}
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        {% endcall %}
    {% endcall %}
    {% call bcCard({
        heading: {
            text: 'Grid Item',
            hierarchy: 3
        }
    }) %}
        {% call bcProse() %}
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        {% endcall %}
    {% endcall %}
    {% call bcCard({
        heading: {
            text: 'Grid Item',
            hierarchy: 3
        }
    }) %}
        {% call bcProse() %}
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        {% endcall %}
    {% endcall %}
    {% call bcCard({
        heading: {
            text: 'Grid Item',
            hierarchy: 3
        }
    }) %}
        {% call bcProse() %}
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        {% endcall %}
    {% endcall %}
    {% call bcCard({
        heading: {
            text: 'Grid Item',
            hierarchy: 3
        }
    }) %}
        {% call bcProse() %}
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        {% endcall %}
    {% endcall %}
    {% call bcCard({
        heading: {
            text: 'Grid Item',
            hierarchy: 3
        }
    }) %}
        {% call bcProse() %}
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        {% endcall %}
    {% endcall %}
{% endcall %}


{% call bcGrid({
    size: '1/2'
}) %}
	{% call bcCard({
        heading: {
            text: 'Card title',
            hierarchy: 4
        }
    }) %}
        {% call bcProse() %}
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        {% endcall %}
    {% endcall %}
    {% call bcCard({
        heading: {
            text: 'Card title',
            hierarchy: 4
        }
    }) %}
        {% call bcProse() %}
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        {% endcall %}
    {% endcall %}
    {% call bcCard({
        heading: {
            text: 'Card title',
            hierarchy: 4
        }
    }) %}
        {% call bcProse() %}
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        {% endcall %}
    {% endcall %}
    {% call bcCard({
        heading: {
            text: 'Card title',
            hierarchy: 4
        }
    }) %}
        {% call bcProse() %}
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        {% endcall %}
    {% endcall %}
    {% call bcCard({
        heading: {
            text: 'Card title',
            hierarchy: 4
        }
    }) %}
        {% call bcProse() %}
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        {% endcall %}
    {% endcall %}
    {% call bcCard({
        heading: {
            text: 'Card title',
            hierarchy: 4
        }
    }) %}
        {% call bcProse() %}
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        {% endcall %}
    {% endcall %}
    {% call bcCard({
        heading: {
            text: 'Card title',
            hierarchy: 4
        }
    }) %}
        {% call bcProse() %}
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptates laboriosam consequatur temporibus eum eligendi unde nisi voluptatibus praesentium quis soluta obcaecati assumenda laudantium, non perspiciatis. Voluptates, excepturi quisquam vero.</p>
        {% endcall %}
    {% endcall %}
{% endcall %}