@use "@querkmachine/felafel/src/scss/settings";
@use "helpers/forms";
@use "helpers/colors";
@use "helpers/media-queries";
@use "sass:math";

.bc-checkbox {
	$self: &;
	$input-size: 1.25rem;
	$input-line-height: 1.875rem;
	$target-size: 44px;
	&__item {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
	}
	&__input {
		@include forms.bc-checkbox(
			$visual-size: $input-size,
			$target-size: $target-size
		);
		&:after {
			border-color: colors.fs-color(brand-primary);
		}
		&:focus {
			&::before {			
				outline: 3.5px solid colors.fs-color(outline);
				outline-offset: 0;
			}
		}
		&:checked:not(:disabled) {
			&:before {
				background-color: colors.fs-color(white);
			}
		}
	}
	&__label {
		display: inline-block;
		padding-block-start: calc((#{$target-size} - #{$input-line-height}) / 2);
		color: colors.fs-color(black);
	}

	&[data-layout="horizontal"] {
		display: flex;
		flex-direction: column;
		@include media-queries.fs-mq($from: tablet) {
            flex-direction: row;
        }
		> * {
			margin-right: 3rem;
		}
	}
}
