{% extends '@t-sso' %}

{% block body %}

<div id="api" data-name="SelfAsserted">
  <div class="intro">
    <p>Reset password</p>
  </div>
  <div id="attributeVerification" role="form">
    <div class="attr" id="attributeList">
      <div class="password">
        <div class="attrEntry">
          <label for="newPassword">Password</label>
          <input 
            id="newPassword" 
            class="textInput" 
            type="password" 
            placeholder="Password"
            pattern="^((?=.*[a-z])(?=.*[A-Z])(?=.*\d)|(?=.*[a-z])(?=.*[A-Z])(?=.*[^A-Za-z0-9])|(?=.*[a-z])(?=.*\d)(?=.*[^A-Za-z0-9])|(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z0-9]))([A-Za-z\d@#$%^&amp;*\-_+=[\]{}|\\:',?/`~&quot;();!]|\.(?!@)){8,16}$"
            title="Enter new password" 
            required="" 
            aria-required="true"
            aria-label="8-16 characters, containing 3 out of 4 of the following: Lowercase characters, uppercase characters, digits (0-9), and one or more of the following symbols: @ # $ % ^ &amp; * - _ + = [ ] { } | \ : ' , ? / ` ~ &quot; ( ) ; ., Password"
            autocomplete="password">
        </div>
      </div>
      <div class="password">
        <div class="attrEntry">
          <label for="reenterPassword">Confirm Password</label>
          <input 
            id="reenterPassword" 
            class="textInput" 
            type="password" 
            placeholder="Confirm Password"
            pattern="^((?=.*[a-z])(?=.*[A-Z])(?=.*\d)|(?=.*[a-z])(?=.*[A-Z])(?=.*[^A-Za-z0-9])|(?=.*[a-z])(?=.*\d)(?=.*[^A-Za-z0-9])|(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z0-9]))([A-Za-z\d@#$%^&amp;*\-_+=[\]{}|\\:',?/`~&quot;();!]|\.(?!@)){8,16}$"
            title="Confirm new password" 
            required="" 
            aria-required="true" 
            aria-label=" , Confirm Password"
            autocomplete="password">
        </div>
      </div>
    </div>
    <div class="buttons">
      <button id="continue" disabled="" aria-label="Reset password">Reset password</button>
      <a href="#" id="cancel" aria-label="Cancel" formnovalidate="">Cancel</a>
    </div>
  </div>
</div>
{% endblock %}