@use "@querkmachine/felafel/src/scss/settings";
@use "helpers/media-queries";

.ip-event-listing {
    margin-top: 0;
    @include media-queries.fs-mq($from: tablet) {
        margin-top: 6rem;
    }
    &__filter-results {
        margin-top: 1rem;
        @include media-queries.fs-mq($from: tablet) {
            margin: 0;
        }
    }
    .bc-form {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        @include media-queries.fs-mq($from: tablet) {
            flex-direction: row;
            align-items: end;
        }
        .bc-form-row {
            margin-left: 0;
            margin-top: 0;
            @include media-queries.fs-mq($from: tablet) {
                margin-left: auto;
            }
        }
        .bc-label__optional {
            display: none;
        }
    }
}