{% from "available-grants-card/macro.njk" import bcAvailableGrantsCard %}

{% call bcAvailableGrantsCard({
    heading: {
        hierarchy: 3,
		text: 'Grant/Programme name'
	},
    reference: 'XXXXXX' 
}) %}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
{% endcall %}

{% call bcAvailableGrantsCard({
    heading: {
        hierarchy: 3,
		text: 'Grant/Programme name'
	},
    reference: 'XXXXXX' 
}) %}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
{% endcall %}