{% from "details-group/macro.njk" import bcDetailsGroup %}
{% from "details/macro.njk" import bcDetails %}

{% call bcDetailsGroup() %}
	{% call bcDetails({
		heading: { text: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis, pariatur.' }
	}) %}
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus nostrum excepturi ut facilis atque facere suscipit error inventore modi perspiciatis quibusdam ab recusandae animi, quis in ipsa libero aliquid quos?</p>
	{% endcall %}
	{% call bcDetails({
		heading: { text: 'Molestias magnam iste consectetur reprehenderit, dolore ut similique voluptatibus, delectus repellendus? Saepe?' }
	}) %}
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta est beatae, vero aperiam dolor esse laboriosam illo natus libero deleniti non rerum, officiis. Quam veniam, sint officia sit in, dignissimos!</p>
	{% endcall %}
	{% call bcDetails({
		heading: { text: 'Omnis provident nam iste quia dicta quasi possimus quaerat rerum soluta earum.' }
	}) %}
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum consequatur amet sequi architecto cumque voluptatem dolor nesciunt possimus, est hic eos, mollitia dolorum quasi dignissimos fugit porro ex quas rem.</p>
	{% endcall %}
{% endcall %}
