{% from "table/macro.njk" import bcTable %}

{{ bcTable({
    responsive: true,
    caption: 'All donations',
    head: [
        { text: 'Date', format: 'date' },
        { text: 'Type' },
        { text: 'Value (£)', format: 'numeric' }
    ],
    body: [
        [
            { text: '2 February 2022', format: 'date'  },
            { text: 'Monthly' },
            { text: '£10', format: 'numeric' }
        ],
        [
            { text: '2 February 2022', format: 'date'  },
            { text: 'Monthly' },
            { text: '£10', format: 'numeric' }
        ],
        [
            { text: '2 February 2022', format: 'date'  },
            { text: 'Monthly' },
            { text: '£10', format: 'numeric' }
        ],
        [
            { text: '2 February 2022', format: 'date'  },
            { text: 'Monthly' },
            { text: '£10', format: 'numeric' }
        ],
        [
            { text: '2 February 2022', format: 'date'  },
            { text: 'Monthly' },
            { text: '£10', format: 'numeric' }
        ],
        [
            { text: '2 February 2022', format: 'date'  },
            { text: 'Monthly' },
            { text: '£10', format: 'numeric' }
        ],
        [
            { text: '2 February 2022', format: 'date'  },
            { text: 'Monthly' },
            { text: '£10', format: 'numeric' }
        ],
        [
            { text: '2 February 2022', format: 'date'  },
            { text: 'Monthly' },
            { text: '£10', format: 'numeric' }
        ],
        [
            { text: '2 February 2022', format: 'date'  },
            { text: 'Monthly' },
            { text: '£10', format: 'numeric' }
        ],
        [
            { text: '2 February 2022', format: 'date'  },
            { text: 'Monthly' },
            { text: '£10', format: 'numeric' }
        ]
    ]
}) }}
