{% extends '@t-left-sidebar' %}


{% block body %}
	{% from "heading/macro.njk" import bcHeading %}
	{% from "grid/macro.njk" import bcGrid %}
	{% from "card/macro.njk" import bcCard %}
	
	<div class="ip-dashboard">
		{{ bcHeading({
			classes: 'fs-!-margin-bottom-2',
			hierarchy: 1,
			text: 'My dashboard'
		}) }}

		
		{% call bcGrid({
			classes: 'ip-dashboard__section',
			size: '1/1'
		}) %}
			{% call bcCard({
				profile: true,
				heading: {
					text: 'Welcome Michelle',
					hierarchy: 2
				},
				button: {
					appearance: 'primary',
					text: 'Go to profile',
					href: '#'
				}
			}) %}
				{% call bcProse() %}
					<p>Manage your personal details, communication preferences and membership subscription.</p>
				{% endcall %}
			{% endcall %}
			{% call bcCard({
				heading: {
					text: 'Events',
					hierarchy: 2
				},
				button: {
					appearance: 'primary',
					text: 'Find an event',
					href: '#'
				}
			}) %}
				{% call bcProse() %}
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
				{% endcall %}
			{% endcall %}
			{% call bcCard({
				heading: {
					text: 'Your programmes and grants',
					hierarchy: 2
				},
				button: {
					appearance: 'primary',
					text: 'View all grants',
					href: '#'
				}
			}) %}
				{% call bcProse() %}
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
				{% endcall %}
			{% endcall %}
		{% endcall %}
		
		{% call bcGrid({
			classes: 'ip-dashboard__section fs-!-margin-top-5',
			size: '1/2'
		}) %}
			{% call bcCard({
				size: '1/2',
				donate: true,
				heading: {
					text: 'My donations',
					hierarchy: 2
				},
				button: {
					appearance: 'primary',
					text: 'Make a donation',
					href: '#'
				}
			}) %}
				{% call bcProse() %}
					<p>Please help us support young people through youth work and together we’ll make it clear that we #BelieveInYouth.</p>
				{% endcall %}
			{% endcall %}
			{% call bcCard({
				size: '1/2',
				heading: {
					text: 'My pledges',
					hierarchy: 2
				}
			}) %}
				{% call bcProse() %}
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
				{% endcall %}
			{% endcall %}
			{% call bcCard({
				size: '1/2',
				heading: {
					text: 'Organisations',
					hierarchy: 2
				},
				button: {
					appearance: 'primary',
					text: 'Go to organisations',
					href: '#'
				}
			}) %}
				{% call bcProse() %}
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
				{% endcall %}
			{% endcall %}
			{% call bcCard({
				size: '1/2',
				heading: {
					text: 'Resources',
					hierarchy: 2
				},
				button: {
					appearance: 'primary',
					text: 'Browse resources',
					href: '#'
				}
			}) %}
				{% call bcProse() %}
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
				{% endcall %}
			{% endcall %}
		{% endcall %}
	
	</div>

{% endblock %}

{% block sidebar %}
	{% from "sub-nav/macro.njk" import bcSubnav %}

	{{ bcSubnav({
		items: [
			{ href: '#', text: 'My dashboard', current: true },
			{ href: '#', text: 'My events' },
			{ href: '#', text: 'Grants & Programmes' },
			{ href: '#', text: 'My donations' },
			{ href: '#', text: 'My pledges' },
			{ href: '#', text: 'Organisations' },
			{ href: '#', text: 'Resources' },
			{ href: '#', text: 'Personal details' },
			{ href: '#', text: 'Communication preferences' },
			{ href: '#', text: 'Contact us' }
		]
	}) }}

{% endblock %}