{% macro bcTooltip(params) %}
	{%- include "./template.njk" -%}
{% endmacro %}

{% macro bcTooltipContextMenu(params) %}
	{%- include "./templateContextMenu.njk" -%}
{% endmacro %}

{% macro bcTooltipCTA(params) %}
	{%- include "./templateCTA.njk" -%}
{% endmacro %}

