@use "@querkmachine/felafel/src/scss/settings";
@use "helpers/reset";
@use "helpers/colors";
@use "helpers/spacing";
@use "helpers/typography";

.bc-fieldset {
	@include reset.fs-reset-fieldset;
	> :last-child {
		@include spacing.fs-responsive-margin(0, $direction: block-start);
	}
	&__legend {
		@include spacing.fs-responsive-margin(1, $direction: block-start);
	}
}

.bc-form-row {
	@include spacing.fs-responsive-margin(5, $direction: block-start);
	display: flex;
	flex-direction: column;
	legend {
		padding: 0;
	}
}

.bc-label {
	@include typography.fs-font-stack(sans, $weight: bold);
	@include typography.fs-font-size(h4);
	margin-bottom: 0.25rem;
	color: settings.$fs-text-color-heading;
	display: block;
	&__required {
	}
}

.bc-hint,
.bc-error {
	@include spacing.fs-responsive-margin(1, $direction: block-end);
}

.bc-hint {
}

.bc-error {
	@include typography.fs-font-size(body-small);
	margin-top: 0.25rem;
	color: colors.fs-color(danger);
	display: flex;
	align-items: center;
	&__icon {
		position: relative;
		display: inline-block;
		height: 1rem;
		width: 1rem;
		border-radius: 100%;
		color: colors.fs-color(white);
		background-color: colors.fs-color(danger);
		margin-right: 0.5rem;
	}
	svg {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		font-size: 0.75rem;
	}
}
