{% from "page-header/macro.njk" import bcPageHeader %}

{{ bcPageHeader({
    heading: {
        text: 'Quis ullamco aute',
        hierarchy: 1
    },
    image: {
        src: ('/images/svg-background/red.svg' | path)
    }
}) }}
