{% from "sub-nav/macro.njk" import bcSubnav %}

{{ bcSubnav({
    items: [
        { href: '#', text: 'My dashboard' },
        { href: '#', text: 'My events', current: true },
        { href: '#', text: 'Grants & Programmes' },
        { href: '#', text: 'My donations' },
        { href: '#', text: 'My pledges' },
        { href: '#', text: 'Organisations' },
        { href: '#', text: 'Resources' },
        { href: '#', text: 'Personal details' },
        { href: '#', text: 'Communication preferences' },
        { href: '#', text: 'Contact us' }
    ]
}) }}
