{% from "heading/macro.njk" import bcHeading %}

<nav
    data-module="bc-sub-nav"
    aria-label="bc account navigation"
    class="bc-sub-nav {%- if params.classes %} {{ params.classes }}{% endif %}"
    {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}
>   
    <ul class="bc-sub-nav__list">
        {%- for item in params.items %}
            <li class="bc-sub-nav__item">
                <a
                    class="bc-sub-nav__link"
                    href="{{ item.href }}"
                    {%- if item.current %} aria-current="true"{% endif %}
                >
                    <span>
                        {{ (item.html | safe) if item.html else item.text }}
                    </span>
                </a>
            </li>
        {%- endfor %}
    </ul>
</nav>