{% from "gallery/macro.njk" import bcGallery %}

{{ bcGallery({
    mainImage: ('https://source.unsplash.com/W1yjvf5idqA' | path),
    galleryImages: [
        { image: 'https://source.unsplash.com/VgbUxvW3gS4', imageDescription: 'Image 1' },
        { image: 'https://source.unsplash.com/5WbYFH0kf_8', imageDescription: 'Image 2' },
        { image: 'https://source.unsplash.com/VgbUxvW3gS4', imageDescription: 'Image 3' },
        { image: 'https://source.unsplash.com/5WbYFH0kf_8', imageDescription: 'Image ' }
    ]
}) }}