@use "@querkmachine/felafel/src/scss/settings";
@use "helpers/media-queries";


.ip-communication-preferences {
    &__unsubscribe {
        .bc-checkbox__body {
            width: 87.5%;
        }
    }
    .bc-button {
        width: calc(100% - 0.35rem);
        @include media-queries.fs-mq($from: tablet) {
			width: auto;
		}
    }
}