{% set describedBy = params.describedBy if params.describedBy else '' %}
{% set idPrefix = params.idPrefix if params.idPrefix else params.name %}

{% if params.hint %}
    {% set hintId = idPrefix + '-Hint' %}
    {% set describedBy = describedBy + ' ' + hintId %}
{% endif %}

{% if params.error %}
    {% set errorId = idPrefix + '-Error' %}
    {% set describedBy = describedBy + ' ' + errorId %}
{% endif %}

{% macro _singleRadio(id, item, params) %}
    {% set hasHint = true if item.hint.text or item.hint.html %}
    {% set itemHintId = id + '-Hint' %}
    <div
        class="bc-choice-cards__item {%- if item.container.classes %} {{ item.container.classes }}{% endif %}"
        {%- for attribute, value in item.container.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
        <input 
            class="bc-choice-cards__input {%- if item.classes %} {{ item.classes }}{% endif %}"
            type="radio"
            id="{{ id }}"
            name="{{ params.name }}"
            value="{{ item.value }}"
            {%- if params.error %} aria-invalid="true"{% endif %}
            {%- if params.required %} required{% endif %}
            {%- if item.checked %} checked{% endif %}
            {%- if item.disabled %} disabled{% endif %}
            {%- if hasHint or (not useFieldset and describedBy) %} aria-describedby="{%- if not useFieldset and describedBy %} {{ describedBy }}{% endif %} {%- if hasHint %} {{ itemHintId }}{% endif %}"{% endif %}
            {%- for attribute, value in item.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
        <div class="bc-choice-cards__body">
            <label 
                class="bc-choice-cards__label"
                for="{{ id }}">
                {{- (item.html | safe) if item.html else item.text -}}
            </label>
            {%- if hasHint %}
                <div class="bc-hint" id="{{ itemHintId }}">
                    {{ item.hint.html | safe if item.hint.html else item.hint.text }}
                </div>
            {%- endif %}
            {%- if item.childContent %}
                <div class="bc-choice-cards__child-content">
                    {{ item.childContent | safe }}
                </div>
            {%- endif %}
        </div>
    </div>
{% endmacro %}

{% set innerContent %}
    {% if params.hint %}
        <div class="bc-hint" id="{{ hintId }}">
            {{ params.hint.html | safe if params.hint.html else params.hint.text }}
        </div>
    {% endif %}
    {% if params.error %}
        <div class="bc-error" id="{{ errorId }}">
            {{ params.error.html | safe if params.error.html else params.error.text }}
        </div>
    {% endif %}
    <div 
        data-module="bc-choice-cards" 
        class="bc-choice-cards{%- if params.classes %} {{ params.classes }}{% endif %}"
        {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
        {% for item in params.options %}
            {% set id = item.id if item.id else idPrefix + '-' + loop.index %}
            {{ _singleRadio(id, item, params) }}
        {% endfor %}
    </div>
{% endset %}

<div class="bc-form-row">
    <fieldset 
        class="bc-fieldset"
        {%- if describedBy %} aria-describedby="{{ describedBy }}"{% endif %}>
        {% if params.legend %}
            <legend class="bc-fieldset__legend">
                <span class="bc-label">
                    {{- params.legend.html | safe if params.legend.html else params.legend.text -}}
                </span>
            </legend>
        {% endif %}
        {{ innerContent | safe }}
    </fieldset>
</div>