{% from "resource-card/macro.njk" import bcResourceCard %}

{{ bcResourceCard({
    heading: {
        text: 'Coca-Cola European Partners',
        hierarchy: 3
    },
    image: {
        src: ('https://picsum.photos/124/103'),
        alt: 'Anim magna laborum sint anim nisi reprehenderit laboris amet.'
    }
}) }}
{{ bcResourceCard({
    heading: {
        text: 'Coca-Cola European Partners',
        hierarchy: 3
    },
    image: {
        src: ('https://picsum.photos/124/103'),
        alt: 'Anim magna laborum sint anim nisi reprehenderit laboris amet.'
    }
}) }}
{{ bcResourceCard({
    heading: {
        text: 'Coca-Cola European Partners',
        hierarchy: 3
    },
    image: {
        src: ('https://picsum.photos/124/103'),
        alt: 'Anim magna laborum sint anim nisi reprehenderit laboris amet.'
    }
}) }}
{{ bcResourceCard({
    heading: {
        text: 'Coca-Cola European Partners',
        hierarchy: 3
    },
    image: {
        src: ('https://picsum.photos/124/103'),
        alt: 'Anim magna laborum sint anim nisi reprehenderit laboris amet.'
    }
}) }}
{{ bcResourceCard({
    heading: {
        text: 'Coca-Cola European Partners',
        hierarchy: 3
    },
    image: {
        src: ('https://picsum.photos/124/103'),
        alt: 'Anim magna laborum sint anim nisi reprehenderit laboris amet.'
    }
}) }}
{{ bcResourceCard({
    heading: {
        text: 'Coca-Cola European Partners',
        hierarchy: 3
    },
    image: {
        src: ('https://picsum.photos/124/103'),
        alt: 'Anim magna laborum sint anim nisi reprehenderit laboris amet.'
    }
}) }}
{{ bcResourceCard({
    heading: {
        text: 'Coca-Cola European Partners',
        hierarchy: 3
    },
    image: {
        src: ('https://picsum.photos/124/103'),
        alt: 'Anim magna laborum sint anim nisi reprehenderit laboris amet.'
    }
}) }}
