@use "@querkmachine/felafel/src/scss/settings";
@use "helpers/colors";


.ip-eligibility-quiz {
    a.bc-button {
        color: colors.fs-color(brand-secondary);
        background: transparent;
        text-decoration: underline;
        padding: 0;
        border: none;
    }
    .bc-button-group {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}