{% from "heading/macro.njk" import bcHeading %}

{{ bcHeading({
    hierarchy: 1,
    text: 'H1 title'
}) }}

{{ bcHeading({
    hierarchy: 2,
    text: 'H2 title'
}) }}

{{ bcHeading({
    hierarchy: 3,
    text: 'H3 title'
}) }}

{{ bcHeading({
    hierarchy: 4,
    text: 'H4 title'
}) }}

{{ bcHeading({
    hierarchy: 5,
    text: 'H5 title'
}) }}