{% extends '@t-sso' %}

{% block body %}

<div id="api" data-name="SelfAsserted">
  <div class="intro">
    <p>Please provide the following details.</p>
  </div>
  <form id="attributeVerification" action="JavaScript:void(0);">
    <div id="passwordEntryMismatch" class="error pageLevel" style="display: none;" aria-hidden="true">The password entry fields do not match. Please enter the same password in both fields and try again.</div>
    <div id="requiredFieldMissing" class="error pageLevel" style="display: none;" aria-hidden="true">A required field is missing. Please fill out all required fields and try again.</div>
    <div id="fieldIncorrect" class="error pageLevel" style="display: none;" aria-hidden="true">One or more fields are filled out incorrectly. Please check your entries and try again.</div>
    <div id="claimVerificationServerError" class="error pageLevel" style="display: none;" aria-hidden="true"></div>
    <div class="attr" id="attributeList">
      <ul>
        <li class="TextBox">
          <div class="attrEntry">
            <div>
              <div id="email_intro" class="verificationInfoText" style="display: inline;" aria-hidden="false" role="alert" aria-live="polite">If you have forgotten your password or your account has been locked, please enter your email address into the box. Once submitted, you will receive an email with a verification code which you must enter below to reset your password.</div>
              <div id="email_info" class="verificationInfoText" style="display:none" aria-hidden="true" role="alert">A verification code has been sent to your inbox and will be valid for 5 minutes. Please copy it into the box below.</div>
              <div id="email_success" class="verificationSuccessText" style="display:none" aria-hidden="true" role="alert">E-mail address verified. You can now continue.</div>
              <div id="email_fail_retry" class="verificationErrorText error" style="display:none" aria-hidden="true" role="alert">That code is incorrect. Please try again.</div>
              <div id="email_fail_no_retry" class="verificationErrorText error" style="display:none" aria-hidden="true" role="alert">You've made too many incorrect attempts. Please try again later.</div>
              <div id="email_fail_throttled" class="verificationErrorText error" style="display:none" aria-hidden="true" role="alert">There have been too many requests to verify this email address. Please wait a while, then try again.</div>
              <div id="email_fail_code_expired" class="verificationErrorText error" style="display:none" aria-hidden="true" role="alert">That code is expired. Please request a new code.</div>
              <div id="email_fail_server" class="verificationErrorText error" style="display:none" aria-hidden="true" role="alert">We are having trouble verifying your email address. Please enter a valid email address and try again.</div>
              <div id="email_incorrect_format" class="verificationErrorText error" style="display:none" aria-hidden="true" role="alert">Incorect format.</div>
            </div>

            <label for="email">Email address</label>

            <div class="error itemLevel" role="alert"></div>


            <input id="email" class="textInput" type="text" placeholder="" aria-label="Email address" pattern="^[a-zA-Z0-9.!#$%&amp;'^_`{}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" title="Email address that can be used to contact you." aria-required="true" autocomplete="email">








            <a href="javascript:void(0)" data-help="Email address that can be used to contact you." class="helpLink tiny">What is this?</a>

            <div class="buttons verify" data-claim_id="email">
              <div id="email_success_screenreader_msg" aria-label="E-mail address verified. You can now continue."></div>
              <div id="email_ver_wait" class="working" aria-label="Please wait" aria-hidden="true" style="display: none;"></div>
              <label id="email_ver_input_label" for="email_ver_input" aria-hidden="true" style="display: none;">Verification code</label>
              <input id="email_ver_input" class="verifyInput" type="text" placeholder="" style="display:none" autocomplete="one-time-code" aria-hidden="true">
              <button id="email_ver_but_send" class="sendButton" type="button" style="display: inline;" aria-label="Send verification code" aria-hidden="false">Send verification code</button>
              <button id="email_ver_but_verify" class="verifyButton" type="button" style="display:none" aria-label="Verify code" aria-hidden="true">Verify code</button>
              <button id="email_ver_but_resend" class="sendButton" type="button" style="display:none" aria-label="Re-send code" aria-hidden="true">Re-send code</button>

              <button id="email_ver_but_edit" class="editButton" type="button" style="display:none" aria-label="Change e-mail" aria-hidden="true">Change e-mail</button>

              <button id="email_ver_but_default" class="defaultButton" type="button" style="display:none" aria-label="Default">Default</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="buttons">
      <button id="continue" type="submit" form="attributeVerification" disabled="" aria-label="Continue">Continue</button>
      <button id="cancel" aria-label="Cancel" formnovalidate="">Cancel</button>
    </div>

    <div class="verifying-modal">
      <div id="verifying_blurb"></div>
    </div>
  </form>
</div>

{% endblock %}