{% from "file-upload/macro.njk" import bcFileUpload %}

{{ bcFileUpload({
	name: 'ExampleFileUpload',
	label: { text: "Upload document" },
	hint: { text: "Select a file or drop and drag here" },
	multiple: true
}) }}
