{% extends '@t-sso' %}

{% block body %}

<div id="api" data-name="SelfAsserted">
  <div class="intro">
    <p>Reset password</p>
  </div>
  <div id="attributeVerification" role="form">
    <div class="attr" id="attributeList">
      <p>Your password has been successfully reset, please try to login with your new password. </p>
    </div>
    <div class="buttons">
      <button id="continue" disabled="" aria-label="Log in">Log in</button>
    </div>
  </div>
</div>
{% endblock %}